body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.overlay {
    height: 100vh;
    width: 100vw;
    background-color: #bebebeb0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.hide {
    display: none;
}

.overlay .username-container {
    width: 300px;
    height: 30px;
    margin: calc(50vh - 30px) auto;
}

.username,
.username:focus {
    height: 30px;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #cae9ef8f;
    width: 220px;
    font-size: 36px;
    outline: none;
    color: #e7eef4;
}

.btn-join {
    height: 30px;
    float: right;
    padding: 4px 12px;
    background: transparent;
    border: 1px solid #e7eef4;
    width: 70px;
    color: #e7eef4;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.users-container {
    position: absolute;
    width: 300px;
    height: 100vh;
    overflow: hidden;
    background-color: #e7eef4;
    box-shadow: 2px 0px 3px 0px #dbdbdb;
}

.app-title {
    text-align: center;
    color: #300707;
    border-bottom: 2px solid #ffffff;
}

ul.online-users {
    list-style-type: none;
    padding: 0px;
}

li.online-user {
    height: 50px;
}

.user-avatar {
    float: left;
    width: 30px;
    background-color: #0030ff80;
    padding: 6px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    font-weight: bold;
    color: #38262696;
    text-align: center;
}

.user-alias {
    float: left;
    padding-left: 10px;
    font-size: 22px;
    color: #300707;
    width: 215px;
    max-width: 215px;
}

.user-action {
    float: left;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid #300707;
    padding: 5px;
    border-radius: 3px;
}

.container {
    margin-left: 300px;
    width: calc(100vw - 300px);
    height: 100vh;
}

.remote-video-container {
    position: absolute;
}

.remote-video-container,
.local-video-container {
    width: calc(100vw - 300px);
    height: calc(100vh - 200px);
    float: left;
    background-color: #b0b0b021;
    transition: all 400ms;
}

.local-video-container.on-call {
    height: 200px;
    width: 270px;
}

video#remoteVideo,
video#localVideo {
    width: inherit;
    height: inherit;
    object-fit: contain;
}

.data-channel-container {
    height: 200px;
    width: calc(100% - 300px);
    position: absolute;
    float: left;
    bottom: 0px;
}